.ref_board {
  width: calc(960 * 100vw / var(--screen-width-desc));
  margin-bottom: calc(232 * 100vw / var(--screen-width-desc));
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 700px) {
  .ref_board * {
    font-size: calc(16 * 100vw / 1000);
  }

  .ref_board {
    width: calc(960 * 100vw / 1000);
  }
}

@media screen and (max-width: calc(555 * 100vw/var(--screen-width-desc))) {
  .ref_board * {
    font-size: calc(13 * 100vw / 375);
  }

  .ref_board {
    width: calc(343 * 100vw / 375);
    display: flex;
    flex-direction: column;
    margin-bottom: calc(16 * 100vw / var(--screen-width-desc));
  }
}

@media screen and (max-width: calc(375 * 100vw/var(--screen-width-desc))) {
  .ref_board {
    margin-bottom: calc(16 * 100vw / var(--screen-width-desc));
    width: calc(343 * 100vw / var(--screen-width-desc));
    display: flex;
    flex-direction: column;
  }
}
