.ref_board {
  width: 960px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 375px) {
  .ref_board {
    width: 343px;
    display: flex;
    flex-direction: column;
  }
}
