.board {
  width: calc(960 * 100vw/var(--screen-width-desc));
  margin-top: calc(64 * 100vw/var(--screen-width-desc));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board > .recent_joins {
  position: absolute;
  left: calc(48 * 100vw/var(--screen-width-desc));
}

@media screen and (max-width: 700px) {
  .board {
    width: calc(343 * 100vw/var(--screen-width-desc));
  }

  .board > .recent_joins {
    position: static;
  }
}
