.recent_joins {
  width: calc(384 * 100vw/var(--screen-width-desc));
  border-radius: calc(16 * 100vw/var(--screen-width-desc));
  background-color: var(--gray-10);
}

.recent_joins > p {
  width: 100%;
  border-bottom: calc(1 * 100vw/var(--screen-width-desc)) solid var(--gray-15);
  font-weight: 500;
  padding: calc(16 * 100vw/var(--screen-width-desc));
}

@media screen and (max-width: 700px) {
  .recent_joins {
    margin-top: calc(64 * 100vw/var(--screen-width-desc));
    width: calc(343 * 100vw/var(--screen-width-desc));
    height: calc(262 * 100vw/var(--screen-width-desc));
    overflow: hidden;
    border-radius: calc(16 * 100vw/var(--screen-width-desc));
    background-color: var(--gray-10);
  }

  .recent_joins > p {
    width: 100%;
    border-bottom: calc(1 * 100vw/var(--screen-width-desc)) solid var(--gray-15);
    font-weight: 500;
    padding: calc(12 * 100vw/var(--screen-width-desc));
  }
}
