.refs_list {
  margin-top: calc(64 * 100vw / var(--screen-width-desc));
  display: flex;
  flex-direction: column;
}

.refs_list > p {
  display: flex;
  justify-content: flex-start;
}

.refs_list > p > a {
  font-weight: 500;
  color: var(--gray-100);
}

.refs_list > p > a:nth-child(2) {
  margin-left: calc(359 * 100vw / var(--screen-width-desc));
}

.refs_list > p > a:nth-child(3) {
  margin-left: calc(440 * 100vw / var(--screen-width-desc));
}

.refs_list > span {
  margin-top: calc(16 * 100vw / var(--screen-width-desc));
  display: flex;
  flex-direction: column;
}

.refs_list > span > div:first-child {
  width: 100%;
  height: calc(78 * 100vw / var(--screen-width-desc));
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: calc(1 * 100vw / var(--screen-width-desc)) solid var(--gray-15);
}

/*style for first ref*/
.refs_list > span > div:first-child {
  justify-content: flex-start;
}

.refs_list > span > div:first-child > span {
  width: calc(107 * 100vw / var(--screen-width-desc));
  display: flex;
  align-items: center;
  font-weight: 500;
  color: var(--white-100);
}

.refs_list > span > div:first-child > span > img {
  width: calc(32 * 100vw / var(--screen-width-desc));
  height: calc(32 * 100vw / var(--screen-width-desc));
  margin-right: calc(16 * 100vw / var(--screen-width-desc));
}

.refs_list > span > div:first-child > a {
  display: block;
  text-align: center;
  width: calc(289 * 100vw / var(--screen-width-desc));
  font-weight: 500;
  color: var(--gray-100);
  margin-left: calc(194 * 100vw / var(--screen-width-desc));
}

.refs_list > span > div:first-child > div {
  margin-left: calc(229 * 100vw / var(--screen-width-desc));
  width: calc(161 * 100vw / var(--screen-width-desc));
  height: calc(46 * 100vw / var(--screen-width-desc));
  padding: calc(12 * 100vw / var(--screen-width-desc)) calc(24 * 100vw / var(--screen-width-desc))
    calc(12 * 100vw / var(--screen-width-desc)) calc(24 * 100vw / var(--screen-width-desc));
  border-radius: calc(100 * 100vw / var(--screen-width-desc));
  background-color: var(--gray-10);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.refs_list > span > div:first-child > div > img {
  width: calc(20 * 100vw / var(--screen-width-desc));
  height: calc(20 * 100vw / var(--screen-width-desc));
}

@media screen and (max-width: 700px) {
  .refs_list * {
    font-size: calc(16 * 100vw / 1000);
  }

  .refs_list {
    margin-top: calc(64 * 100vw / 1000);
  }

  .refs_list > p > a:nth-child(2) {
    margin-left: calc(359 * 100vw / 1000);
  }

  .refs_list > p > a:nth-child(3) {
    margin-left: calc(440 * 100vw / 1000);
  }

  .refs_list > span {
    margin-top: calc(16 * 100vw / 1000);
  }

  .refs_list > span > div:first-child {
    width: 100%;
    height: calc(78 * 100vw / 1000);
  }

  /*style for first ref*/

  .refs_list > span > div:first-child > span {
    width: calc(107 * 100vw / 1000);
  }

  .refs_list > span > div:first-child > span > img {
    width: calc(32 * 100vw / 1000);
    height: calc(32 * 100vw / 1000);
    margin-right: calc(16 * 100vw / 1000);
  }

  .refs_list > span > div:first-child > a {
    width: calc(289 * 100vw / 1000);
    margin-left: calc(194 * 100vw / 1000);
    margin-bottom: calc(16 * 100vw / 1000);
  }

  .refs_list > span > div:first-child > div {
    margin-left: calc(229 * 100vw / 1000);
    width: calc(161 * 100vw / 1000);
    height: calc(46 * 100vw / 1000);
    padding: calc(12 * 100vw / 1000) calc(24 * 100vw / 1000) calc(12 * 100vw / 1000)
      calc(24 * 100vw / 1000);
    border-radius: calc(100 * 100vw / 1000);
  }

  .refs_list > span > div:first-child > div > img {
    width: calc(20 * 100vw / 1000);
    height: calc(20 * 100vw / 1000);
  }
}

@media screen and (max-width: calc(555 * 100vw/var(--screen-width-desc))) {
  .refs_list * {
    font-size: calc(13 * 100vw / 375);
  }

  .refs_list {
    width: 100%;
  }

  .refs_list > p {
    display: none;
  }

  .refs_list > span {
    margin-top: 0;
  }

  /*style for first ref*/
  .refs_list > span > div:first-child {
    height: calc(116 * 100vw / 375);
    justify-content: flex-start;
    align-items: flex-end;
  }

  .refs_list > span > div:first-child > span {
    width: 0;
    position: absolute;
    margin-bottom: calc(76 * 100vw / 375);
  }

  .refs_list > span > div:first-child > span > img {
    width: calc(24 * 100vw / 375);
    height: calc(24 * 100vw / 375);
    margin-right: calc(16 * 100vw / 375);
  }

  .refs_list > span > div:first-child > a {
    width: 100%;
    font-weight: 500;
    color: var(--gray-100);
    margin-left: 0;
    margin-bottom: calc(16 * 100vw / var(--screen-width-desc));
  }

  .refs_list > span > div:first-child > div {
    margin-left: 0;
    width: calc(125 * 100vw / 375);
    height: calc(34 * 100vw / 375);
    padding: calc(8 * 100vw / 375) calc(16 * 100vw / 375) calc(8 * 100vw / 375)
      calc(16 * 100vw / 375);
    position: absolute;
    margin-bottom: calc(66 * 100vw / 375);
    margin-left: calc(180 * 100vw / 375);
  }

  .refs_list > span > div:first-child > div > img {
    width: calc(16 * 100vw / 375);
    height: calc(16 * 100vw / 375);
  }
}

@media screen and (max-width: calc(375 * 100vw/var(--screen-width-desc))) {
  .refs_list {
    width: 100%;
  }

  .refs_list > p {
    display: none;
  }

  .refs_list > span {
    margin-top: 0;
  }

  /*style for first ref*/
  .refs_list > span > div:first-child {
    height: calc(116 * 100vw / var(--screen-width-desc));
    justify-content: flex-start;
    align-items: flex-end;
  }

  .refs_list > span > div:first-child > span {
    width: calc(163 * 100vw / var(--screen-width-desc));
    position: absolute;
    display: flex;
    align-items: center;
    margin-bottom: calc(76 * 100vw / var(--screen-width-desc));
  }

  .refs_list > span > div:first-child > span > img {
    width: calc(24 * 100vw / var(--screen-width-desc));
    height: calc(24 * 100vw / var(--screen-width-desc));
  }

  .refs_list > span > div:first-child > a {
    width: 100%;
    font-weight: 500;
    color: var(--gray-100);
    margin-left: 0;
  }

  .refs_list > span > div:first-child > div {
    margin-left: 0;
    width: calc(125 * 100vw / var(--screen-width-desc));
    height: calc(34 * 100vw / var(--screen-width-desc));
    padding: calc(8 * 100vw / var(--screen-width-desc)) calc(16 * 100vw / var(--screen-width-desc))
      calc(8 * 100vw / var(--screen-width-desc)) calc(16 * 100vw / var(--screen-width-desc));
    position: absolute;
    margin-bottom: calc(66 * 100vw / var(--screen-width-desc));
    margin-left: calc(180 * 100vw / var(--screen-width-desc));
  }

  .refs_list > span > div:first-child > div > img {
    width: calc(16 * 100vw / var(--screen-width-desc));
    height: calc(16 * 100vw / var(--screen-width-desc));
  }
}
