.refs_list {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}

.refs_list > p {
  display: flex;
  justify-content: space-between;
}

.refs_list > p > a {
  font-weight: 500;
  color: var(--gray-100);
}

.refs_list > span {
  display: flex;
  flex-direction: column;
}

.refs_list > span > div {
  width: 960px;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--gray-15);
}

.refs_list > span > div:first-child {
  justify-content: space-between;
}

/*style for inviting friend*/
.refs_list > span > div:first-child > span {
  width: 107px;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: var(--white-100);
}

.refs_list > span > div:first-child > span > img {
  width: 32px;
  height: 32px;
}

.refs_list > span > div:first-child > a {
  font-weight: 500;
  color: var(--gray-100);
}

.refs_list > span > div:first-child > div {
  width: 161px;
  height: 46px;
  padding: 12px 24px 12px 24px;
  border-radius: 100px;
  background-color: var(--gray-10);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
/* style for ref and button  */
.refs_list > span > div > span {
  width: 412px;
  height: 46px;
  display: flex;
  justify-content: space-between;
}

.refs_list > span > div > span > a {
  width: 317px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-10);
  font-weight: 500;
  color: var(--gray-100);
}

.refs_list > span > div > span > p {
  width: 87px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-100);
  font-weight: 500;
  color: var(--black-100);
}
