.tiers {
  width: 100%;
  height: calc(97 * 100vw / var(--screen-width-desc));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tiers > p {
  font-weight: 500;
  margin-left: calc(24 * 100vw / var(--screen-width-desc));
}

.tiers > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.selected_tire {
  background-color: var(--white-100);
}

.selected_tire > span {
  color: var(--black-100);
}

.tiers > div > p {
  width: calc(184 * 100vw / var(--screen-width-desc));
  height: calc(63 * 100vw / var(--screen-width-desc));
  border-radius: calc(100 * 100vw / var(--screen-width-desc));
  padding: calc(12 * 100vw / var(--screen-width-desc)) calc(16 * 100vw / var(--screen-width-desc))
    calc(12 * 100vw / var(--screen-width-desc)) calc(16 * 100vw / var(--screen-width-desc));
  display: flex;
  flex-direction: column;
  align-items: center;
  border: calc(1 * 100vw / var(--screen-width-desc)) solid var(--gray-15);
}

.tiers > div > p > span {
  font-weight: 500;
}

.tiers > div > p > a {
  font-weight: 500;
  font-size: calc(12 * 100vw / var(--screen-width-desc));
  color: var(--gray-100);
}

@media screen and (max-width: 700px) {
  .tiers {
    width: 100%;
    height: calc(83 * 100vw / var(--screen-width-desc));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .tiers > p {
    font-weight: 500;
    margin-left: calc(16 * 100vw / var(--screen-width-desc));
  }

  .tiers > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .selected_tire {
    background-color: var(--white-100);
  }

  .tiers > div > p {
    width: calc(95 * 100vw / var(--screen-width-desc));
    height: calc(57 * 100vw / var(--screen-width-desc));
    border-radius: calc(20 * 100vw / var(--screen-width-desc));
    padding: calc(12 * 100vw / var(--screen-width-desc)) calc(16 * 100vw / var(--screen-width-desc))
      calc(12 * 100vw / var(--screen-width-desc)) calc(16 * 100vw / var(--screen-width-desc));
    display: flex;
    flex-direction: column;
    align-items: center;
    border: calc(1 * 100vw / var(--screen-width-desc)) solid var(--gray-15);
  }

  .tiers > div > p > span {
    font-weight: 500;
  }

  .tiers > div > p > a {
    font-weight: 500;
    font-size: calc(12 * 100vw / var(--screen-width-desc));
    color: var(--gray-100);
  }
}
