.pop_up_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 15, 20, 0.8);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop_up {
  position: fixed;
  width: 540px;
  height: 227px;
  border-radius: 32px;
  border: 1px solid var(--white-5);
  background-color: #1c1a20;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.pop_up::before {
  content: '';
  position: absolute;
  top: 0;
  left: 12px;
  right: 12;
  height: 1px;
  width: 510px;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgba(255, 215, 74, 1),
    rgba(240, 123, 168, 1),
    rgba(137, 20, 229, 1),
    rgba(137, 20, 229, 0)
  );
}
.pop_up > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pop_up > div > h2 {
  display: inline;
  font-size: 32px;
}

.pop_up > div > a {
  margin-top: 8px;
  font-weight: 500;
}

.pop_up > p {
  width: 126px;
  height: 56px;
  margin-top: 32px;
  border-radius: 100px;
  background-color: var(--white-100);
  margin-top: 8px;
  font-weight: 500;
  color: var(--black-100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop_up > p:hover {
  cursor: pointer;
}

@media screen and (max-width: 555px) {
  .pop_up_wrapper {
    width: 100vw;
  }

  .pop_up {
    position: relative;
    width: calc(343 * 100vw / 375);
    height: calc(166 * 100vw / 375);
    border-radius: calc(32 * 100vw / 375);
    padding: calc(20 * 100vw / 375);
  }

  .pop_up::before {
    content: '';
    position: absolute;
    width: calc(310 * 100vw / 375);
  }

  .pop_up > div > h2 {
    font-size: calc(24 * 100vw / 375);
  }

  .pop_up > div > a {
    font-size: calc(13 * 100vw / 375);
  }

  .pop_up > p {
    width: calc(82 * 100vw / 375);
    height: calc(34 * 100vw / 375);
    margin-top: calc(32 * 100vw / 375);
    font-size: calc(13 * 100vw / 375);
  }
}

@media screen and (max-width: 375px) {
  .pop_up_wrapper {
    width: 100vw;
  }

  .pop_up {
    position: relative;
    width: 343px;
    height: 166px;
    border-radius: 32px;
    padding: 20px;
  }

  .pop_up::before {
    content: '';
    position: absolute;
    width: 310px;
  }

  .pop_up > div > h2 {
    font-size: 24px;
  }

  .pop_up > div > a {
    font-size: 13px;
  }

  .pop_up > p {
    width: 82px;
    height: 34px;
    margin-top: 32px;
    font-size: 13px;
  }
}
