.access_input {
  width: 100%;
  height: 64px;
  padding: 16px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--gray-15);
  margin-top: 20px;
}

.access_input:hover {
  background-color: var(--gray-10);
}

.access_input:hover > div > a > span {
  background-color: var(--white-100);
  color: var(--black-100);
}

div.access_input_active {
  height: 142px;
  background-color: var(--gray-10);
  justify-content: space-between;
}

div.access_input_active > div > a > span {
  background-color: var(--white-100);
  color: var(--black-100);
}

#access_input_entered {
  padding: 16px;
}

#access_input_entered > div > a > span {
  background-color: var(--gray-60);
  color: var(--black-100);
}

.access_input > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.access_input > div > img {
  width: 32px;
  height: 32px;
}

.access_input > div > p {
  background-color: var(--gray-60);
  padding: 12px 24px 12px 24px;
  border-radius: 100px;
  font-weight: 500;
  color: var(--black-100);
  display: flex;
  align-items: center;
  justify-content: center;
}

.access_input > div > p:hover {
  cursor: pointer;
}

.access_input > div > a {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.access_input > div > a > span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--gray-15);
  width: 31px;
  height: 32px;
  border-radius: 99px;
  margin-right: 16px;
}

.access_input > span {
  width: 544px;
  display: flex;
  justify-content: space-between;
}

.access_input > span > div {
  width: 449px;
  height: 46px;
  padding: 12px 24px 12px 24px;
  border: 1px solid var(--gray-15);
  border-radius: 24px;
  display: flex;
  align-items: center;
}

.access_input > span > div > input {
  font-weight: 500;
  background: transparent;
  border: none;
  outline: none;
}

.access_input > span > div > input::placeholder {
  font-weight: 500;
  color: var(--gray-60);
}

.access_input > span > p {
  padding: 12px 24px 12px 24px;
  background-color: var(--white-100);
  border-radius: 100px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-100);
}

.access_input > span > p:hover {
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .access_input {
    height: 50px;
    padding: 16px;
    margin-top: 8px;
  }

  .access_input > div > img {
    width: 20px;
    height: 20px;
  }

  .access_input > div > a {
    
  }

  div.access_input_active {
    height: 110px;
  }

  .access_input > div > p {
    padding: 6px 12px 6px 12px;
    
  }

  .access_input > div > a > span {
    width: 20px;
    height: 20px;
    
  }

  .access_input > span {
    width: 100%;
  }

  .access_input > span > div {
    width: 200px;
    height: 34px;
    padding: 6px 12px 6px 12px;
  }

  .access_input > span > div > input {
    
  }

  .access_input > span > div > input::placeholder {
    
  }

  .access_input > span > p {
    padding: 6px 12px 6px 12px;
    background-color: var(--white-100);
    border-radius: 100px;
    
  }
}
