.paginator {
  margin-top: calc(64 * 100vw / var(--screen-width-desc));
  margin-bottom: calc(64 * 100vw / var(--screen-width-desc));
  width: calc(580 * 100vw / var(--screen-width-desc));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paginator p {
  width: calc(46 * 100vw / var(--screen-width-desc));
  height: calc(46 * 100vw / var(--screen-width-desc));
  border-radius: calc(100 * 100vw / var(--screen-width-desc));
  border: calc(1 * 100vw / var(--screen-width-desc)) solid var(--gray-15);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.paginator > p > img {
  width: calc(20 * 100vw / var(--screen-width-desc));
  height: calc(20 * 100vw / var(--screen-width-desc));
}

.paginator > div {
  width: calc(424 * 100vw / var(--screen-width-desc));
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paginator > div > img {
  width: calc(52 * 100vw / var(--screen-width-desc));
  height: calc(28 * 100vw / var(--screen-width-desc));
  display: flex;
  align-items: center;
}

.paginator > div > p:first-child {
  background-color: var(--gray-10);
}

.arrow_left > img {
  transform: rotate(180deg);
}

@media screen and (max-width: calc(1000 * 100vw/var(--screen-width-desc))) {
  .paginator * {
    font-size: calc(16 * 100vw / 1000);
  }

  .paginator {
    margin-top: calc(64 * 100vw / 1000);
    margin-bottom: calc(64 * 100vw / 1000);
    width: calc(580 * 100vw / 1000);
  }

  .paginator p {
    width: calc(46 * 100vw / 1000);
    height: calc(46 * 100vw / 1000);
    border-radius: calc(100 * 100vw / 1000);
  }

  .paginator > p > img {
    width: calc(20 * 100vw / 1000);
    height: calc(20 * 100vw / 1000);
  }

  .paginator > div {
    width: calc(424 * 100vw / 1000);
  }

  .paginator > div > img {
    width: calc(52 * 100vw / 1000);
    height: calc(28 * 100vw / 1000);
  }
}

@media screen and (max-width: 700px) {
  .paginator {
    margin-top: calc(24 * 100vw / var(--screen-width-desc));
    margin-bottom: calc(64 * 100vw / var(--screen-width-desc));
    width: calc(359 * 100vw / var(--screen-width-desc));
    display: flex;
  }

  .paginator p {
    width: calc(42 * 100vw / var(--screen-width-desc));
    height: calc(42 * 100vw / var(--screen-width-desc));
    border-radius: calc(100 * 100vw / var(--screen-width-desc));
    border: calc(1 * 100vw / var(--screen-width-desc)) solid var(--gray-15);
    display: flex;

    font-weight: 500;
  }

  .paginator > div > p:nth-child(4),
  .paginator > div > p:nth-child(5) {
    display: none;
  }

  .paginator > div {
    width: calc(246 * 100vw / var(--screen-width-desc));
  }

  .paginator > div > a {
    color: var(--gray-60);
  }

  .arrow_left > img {
    transform: rotate(180deg);
  }
}
