.paginator {
  margin-top: 64px;
  margin-bottom: 64px;
  width: 580px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paginator p {
  width: 46px;
  height: 46px;
  border-radius: 100px;
  border: 1px solid var(--gray-15);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Satoshi';
  color: var(--white-100);
}

.paginator > p > img {
  width: 20px;
  height: 20px;
}

.paginator > div {
  width: 424px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paginator > div > a {
  font-size: 16px;
  color: var(--gray-60);
}

.paginator > div > p:first-child {
  background-color: var(--gray-10);
}

.arrow_left > img {
  transform: rotate(180deg);
}
