.deposit_from {
  width: 100%;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.deposit_from > p {
  padding: 0px 24px 0px 24px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.deposit_from > p > a {
  font-weight: 500;
}

.deposit_from > div {
  height: 80px;
  margin-top: 12px;
  padding: 16px 24px 16px 24px;
  border: 1px solid var(--gray-15);
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deposit_from > div > span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.deposit_from > div > span > p,
.deposit_from > span > p {
  font-weight: 500;
}

.deposit_from > div > span > a,
.deposit_from > span > a {
  font-size: 12px;
  font-weight: 500;
  color: var(--gray-100);
}

.deposit_from > span {
  height: 39px;
  margin-top: 12px;
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (max-width: 375px) {
  .deposit_from > p {
    padding: 0px 16px 0px 16px;
  }

  .deposit_from > p > a {
    font-size: 13px;
  }

  .deposit_from > div {
    height: 64px;
    margin-top: 8px;
    padding: 8px 16px 8px 16px;
    border-radius: 20px;
  }

  .deposit_from > div > span > p,
  .deposit_from > span > p {
    font-size: 13px;
  }

  .deposit_from > div > span > a,
  .deposit_from > span > a {
    font-size: 11px;
  }

  .deposit_from > span {
    height: 33px;
    margin-top: 8px;
    padding: 0px 16px 0px 16px;
  }
}
