.user {
  width: 100%;
  height: calc(78 * 100vw/var(--screen-width-desc));
  border-bottom: calc(1 * 100vw/var(--screen-width-desc)) solid rgba(197, 167, 212, 0.15);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user > span {
  padding: calc(0 * 100vw/var(--screen-width-desc)) calc(8 * 100vw/var(--screen-width-desc)) calc(0 * 100vw/var(--screen-width-desc)) calc(8 * 100vw/var(--screen-width-desc));
  min-width: calc(32 * 100vw/var(--screen-width-desc));
  height: calc(32 * 100vw/var(--screen-width-desc));
  border-radius: calc(99 * 100vw/var(--screen-width-desc));
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  background-color: rgba(133, 117, 142, 0.1);
}

#first > span {
  background-color: rgba(255, 233, 40, 1);
  color: rgba(18, 15, 20, 1);
}

#second > span {
  background-color: rgba(224, 224, 222, 1);
  color: rgba(18, 15, 20, 1);
}

#third > span {
  background-color: rgba(229, 153, 40, 1);
  color: rgba(18, 15, 20, 1);
}

.user > div {
  position: absolute;
  margin-left: calc(158 * 100vw/var(--screen-width-desc));
  display: flex;
  align-items: center;
}

.user > div:nth-of-type(2) {
  display: none;
}

.user > div:nth-of-type(2) > p {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.user > div:nth-of-type(2) > p > span {
  font-weight: 500;
  color: var(--gray-100);
}

.user > div > img {
  width: calc(32 * 100vw/var(--screen-width-desc));
  height: calc(32 * 100vw/var(--screen-width-desc));
}

.user > div > a {
  margin-left: calc(16 * 100vw/var(--screen-width-desc));
  font-weight: 500;
}

.user > a {
  position: absolute;
  margin-left: calc(461 * 100vw/var(--screen-width-desc));
  font-weight: 500;
}

.user > a > p {
  display: none;
}

.user > p {
  margin-left: auto;
  height: calc(46 * 100vw/var(--screen-width-desc));
  padding: calc(12 * 100vw/var(--screen-width-desc)) calc(24 * 100vw/var(--screen-width-desc)) calc(12 * 100vw/var(--screen-width-desc)) calc(24 * 100vw/var(--screen-width-desc));
  border-radius: calc(100 * 100vw/var(--screen-width-desc));
  background-color: rgba(133, 117, 142, 0.1);
  display: flex;
  align-items: center;
  font-weight: 500;
}

.user > p:hover {
  cursor: pointer;
}

.user > p:hover ~ div:nth-of-type(2) {
  display: flex;
  width: calc(254 * 100vw/var(--screen-width-desc));
  height: calc(76 * 100vw/var(--screen-width-desc));
  padding: calc(12 * 100vw/var(--screen-width-desc)) calc(16 * 100vw/var(--screen-width-desc)) calc(12 * 100vw/var(--screen-width-desc)) calc(16 * 100vw/var(--screen-width-desc));
  border-radius: calc(16 * 100vw/var(--screen-width-desc));
  background-color: var(--gray-15);
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  margin-left: calc(976 * 100vw/var(--screen-width-desc));
  margin-top: calc(30 * 100vw/var(--screen-width-desc));
}

.user > p > img {
  width: calc(20 * 100vw/var(--screen-width-desc));
  height: calc(20 * 100vw/var(--screen-width-desc));
}

.user > p > a {
  margin-left: calc(8 * 100vw/var(--screen-width-desc));
}

@media screen and (max-width: 700px) {
  .user {
    width: 100%;
    height: calc(118 * 100vw/var(--screen-width-desc));
    border-bottom: calc(1 * 100vw/var(--screen-width-desc)) solid rgba(197, 167, 212, 0.15);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .user > span {
    min-width: calc(24 * 100vw/var(--screen-width-desc));
    height: calc(24 * 100vw/var(--screen-width-desc));
    position: absolute;
    margin-bottom: calc(78 * 100vw/var(--screen-width-desc));
  }

  .user > div {
    margin-left: 0;
    margin-bottom: calc(24 * 100vw/var(--screen-width-desc));
    display: flex;
    align-items: center;
  }

  .user > div > img {
    width: calc(24 * 100vw/var(--screen-width-desc));
    height: calc(24 * 100vw/var(--screen-width-desc));
  }

  .user > div > a {
    margin-left: calc(8 * 100vw/var(--screen-width-desc));
  }

  .user > a {
    position: absolute;
    margin-left: calc(180 * 100vw/var(--screen-width-desc));
    margin-bottom: calc(16 * 100vw/var(--screen-width-desc));
  }

  .user > a > p {
    display: block;
    font-size: calc(11 * 100vw/var(--screen-width-desc));
    color: var(--gray-100);
  }

  .user > p {
    width: max-content;
    height: calc(34 * 100vw/var(--screen-width-desc));
    padding: calc(8 * 100vw/var(--screen-width-desc)) calc(16 * 100vw/var(--screen-width-desc)) calc(8 * 100vw/var(--screen-width-desc)) calc(16 * 100vw/var(--screen-width-desc));
    border-radius: calc(100 * 100vw/var(--screen-width-desc));
    background-color: rgba(133, 117, 142, 0.1);
    display: flex;
    position: absolute;
    margin-left: calc(180 * 100vw/var(--screen-width-desc));
    margin-bottom: calc(68 * 100vw/var(--screen-width-desc));
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
  }

  .user > p:hover ~ div:nth-of-type(2) {
    display: none;
  }

  .user > p > img {
    width: calc(16 * 100vw/var(--screen-width-desc));
    height: calc(16 * 100vw/var(--screen-width-desc));
  }
}
