.user {
  width: 100%;
  height: 78px;
  border-bottom: 1px solid rgba(197, 167, 212, 0.15);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user > span {
  padding: 0px 8px 0px 8px;
  min-width: 32px;
  height: 32px;
  border-radius: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  background-color: rgba(133, 117, 142, 0.1);
}

#first > span {
  background-color: rgba(255, 233, 40, 1);
  color: rgba(18, 15, 20, 1);
}

#second > span {
  background-color: rgba(224, 224, 222, 1);
  color: rgba(18, 15, 20, 1);
}

#third > span {
  background-color: rgba(229, 153, 40, 1);
  color: rgba(18, 15, 20, 1);
}

.user > div {
  position: absolute;
  margin-left: 158px;
  display: flex;
  align-items: center;
}

.user > div:nth-of-type(2) {
  display: none;
}

.user > div:nth-of-type(2) > p {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.user > div:nth-of-type(2) > p > span {
  font-weight: 500;
  color: var(--gray-100);
}

.user > div > img {
  width: 32px;
  height: 32px;
}

.user > div > a {
  margin-left: 16px;
  font-weight: 500;
}

.user > a {
  position: absolute;
  margin-left: 461px;
  font-weight: 500;
}

.user > a > p {
  display: none;
}

.user > p {
  margin-left: auto;
  height: 46px;
  padding: 12px 24px 12px 24px;
  border-radius: 100px;
  background-color: rgba(133, 117, 142, 0.1);
  display: flex;
  align-items: center;
  font-weight: 500;
}

.user > p:hover {
  cursor: pointer;
}

.user > p:hover ~ div:nth-of-type(2) {
  display: flex;
  width: 254px;
  height: 76px;
  padding: 12px 16px 12px 16px;
  border-radius: 16px;
  background-color: var(--gray-15);
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  margin-left: 976px;
  margin-top: 30px;
}

.user > p > img {
  width: 20px;
  height: 20px;
}

.user > p > a {
  margin-left: 8px;
}

@media screen and (max-width: 375px) {
  .user {
    width: 100%;
    height: 118px;
    border-bottom: 1px solid rgba(197, 167, 212, 0.15);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .user > span {
    min-width: 24px;
    height: 24px;
    position: absolute;
    margin-bottom: 78px;
  }

  .user > div {
    margin-left: 0;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
  }

  .user > div > img {
    width: 24px;
    height: 24px;
  }

  .user > div > a {
    margin-left: 8px;
  }

  .user > a {
    position: absolute;
    margin-left: 180px;
    margin-bottom: 16px;
  }

  .user > a > p {
    display: block;
    font-size: 11px;
    color: var(--gray-100);
  }

  .user > p {
    width: max-content;
    height: 34px;
    padding: 8px 16px 8px 16px;
    border-radius: 100px;
    background-color: rgba(133, 117, 142, 0.1);
    display: flex;
    position: absolute;
    margin-left: 180px;
    margin-bottom: 68px;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
  }

  .user > p:hover ~ div:nth-of-type(2) {
    display: none;
  }

  .user > p > img {
    width: 16px;
    height: 16px;
  }
}
