:root {
  --window: 1920;
}

header {
  width: calc(1824 * 100vw / var(--window));
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(197, 167, 212, 0.15);
}

header > img {
  width: 145px;
  height: 32px;
}

header > nav {
  width: 286px;
  display: flex;
  justify-content: space-around;
}

header > nav > p {
  padding: 16px 32px 16px 32px;
  border-radius: 100px;
  border: 1px solid rgba(197, 167, 212, 0.15);
  font-size: 16px;
  font-weight: 500;
  font-family: 'Satoshi';
  color: rgba(241, 235, 244, 1);
}

header > div {
  width: 204px;
  padding: 16px 32px 16px 32px;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(241, 235, 244, 1);
}

header > div > p {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Satoshi';
  color: rgba(18, 15, 20, 1);
}

header > div > img {
  width: 24px;
  height: 24px;
}

header>span{
 width: 322px;
display: flex;
justify-content: space-between;
}

header>span>div{
  width: 144px;
  height: 56px;
  padding: 12px 24px 12px 24px;
  border-radius: 100px;
  background-color: rgba(133, 117, 142, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Satoshi';
  color: rgba(241, 235, 244, 1);
}

header>span>p{
  width: 162px;
  height: 56px;
  border-radius: 100px;
  border: 1px solid rgba(197, 167, 212, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Satoshi';
  color: rgba(241, 235, 244, 1);
}