header {
  width: calc(1824 * 100vw / var(--screen-width-desc));
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-15);
}

header > img {
  width: 145px;
  height: 32px;
}

header > nav {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  width: 286px;
  display: flex;
  justify-content: space-between;
}

header > nav > p {
  padding: 16px 32px 16px 32px;
  border-radius: 100px;
  border: 1px solid var(--gray-15);
  font-weight: 500;
}

header > nav > p:hover {
  cursor: pointer;
}

.header_other_route > div {
  display: none;
}

header > div {
  width: 204px;
  padding: 16px 32px 16px 32px;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-100);
}

header > div:hover {
  cursor: pointer;
}

header > div > p {
  font-weight: 500;
  color: var(--black-100);
}

header > div > img {
  width: 24px;
  height: 24px;
}

.header_main_route > span {
  display: none;
}

header > span {
  width: 322px;
  display: flex;
  justify-content: space-between;
}

header > span > div {
  width: 144px;
  height: 56px;
  padding: 12px 24px 12px 24px;
  border-radius: 100px;
  background-color: var(--gray-10);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

header > span > p {
  width: 162px;
  height: 56px;
  border-radius: 100px;
  border: 1px solid var(--gray-15);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

@media screen and (max-width: 755px) {
  header * {
    font-size: calc(16 * 100vw / 755);
  }

  header {
    width: calc(1824 * 100vw / var(--screen-width-desc));
    height: calc(96 * 100vw / 755);
  }

  header > img {
    width: calc(145 * 100vw / 755);
    height: calc(32 * 100vw / 755);
  }

  header > nav {
    width: calc(286 * 100vw / 755);
  }

  header > nav > p {
    padding: calc(16 * 100vw / 755) calc(32 * 100vw / 755) calc(16 * 100vw / 755)
      calc(32 * 100vw / 755);
    border-radius: calc(100 * 100vw / 755);
  }

  .header_other_route > div {
    display: none;
  }

  header > div {
    width: calc(204 * 100vw / 755);
    padding: calc(16 * 100vw / 755) calc(32 * 100vw / 755) calc(16 * 100vw / 755)
      calc(32 * 100vw / 755);
    border-radius: calc(100 * 100vw / 755);
  }

  header > div > img {
    width: calc(24 * 100vw / 755);
    height: calc(24 * 100vw / 755);
  }

  .header_main_route > span {
    display: none;
  }

  header > span {
    width: calc(322 * 100vw / 755);
  }

  header > span > div {
    width: calc(144 * 100vw / 755);
    height: calc(56 * 100vw / 755);
    padding: calc(12 * 100vw / 755) calc(24 * 100vw / 755) calc(12 * 100vw / 755)
      calc(24 * 100vw / 755);
    border-radius: calc(100 * 100vw / 755);
  }

  header > span > p {
    width: calc(162 * 100vw / 755);
    height: calc(56 * 100vw / 755);
    border-radius: calc(100 * 100vw / 755);
  }
}

@media screen and (max-width: 555px) {
  header * {
    font-size: calc(13 * 100vw / 375);
  }
  header {
    padding: 0 0 calc(16 * 100vw / 375) 0;
    height: calc(98 * 100vw / 375);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-15);
  }

  header > img {
    width: calc(91 * 100vw / 375);
    height: calc(20 * 100vw / 375);
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    margin-bottom: calc(46 * 100vw / 375);
  }

  header > nav {
    position: relative;
    transform: translate(0, 0);
    left: 0;
    width: calc(183 * 100vw / 375);
    height: calc(34 * 100vw / 375);
    display: flex;
    justify-content: space-between;
  }

  header > nav > p {
    padding: calc(8 * 100vw / 375) calc(16 * 100vw / 375) calc(8 * 100vw / 375)
      calc(16 * 100vw / 375);
  }

  header > div {
    width: calc(144 * 100vw / 375);
    height: calc(34 * 100vw / 375);
    padding: calc(8 * 100vw / 375) calc(16 * 100vw / 375) calc(8 * 100vw / 375)
      calc(16 * 100vw / 375);
    border-radius: calc(100 * 100vw / 375);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-100);
  }

  header > div > p {
    font-weight: 500;
    color: var(--black-100);
  }

  header > div > img {
    width: calc(16 * 100vw / 375);
    height: calc(16 * 100vw / 375);
  }
}

@media screen and (max-width: 375px) {
  header {
    padding: 0 0 16px 0;
    height: 98px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-15);
  }

  header > img {
    width: 91px;
    height: 20px;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    margin-bottom: 46px;
  }

  header > nav {
    position: relative;
    transform: translate(0, 0);
    left: 0;
    width: 183px;
    height: 34px;
    display: flex;
    justify-content: space-between;
  }

  header > nav > p {
    padding: 8px 16px 8px 16px;
  }

  header > div {
    width: 144px;
    height: 34px;
    padding: 8px 16px 8px 16px;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-100);
  }

  header > div > p {
    font-weight: 500;
    color: var(--black-100);
  }

  header > div > img {
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 995px) {
  .header_other_route > span {
    display: none;
  }

  .header_other_route > div {
    display: flex;
  }
}
