.networks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  height: calc(400 * 100vw / var(--screen-width-desc));
  margin-right: calc(8 * 100vw / var(--screen-width-desc));
  padding-bottom: calc(31 * 100vw / var(--screen-width-desc));
}

.networks > a {
  margin-left: calc(32 * 100vw / var(--screen-width-desc));
  font-weight: 500;
  color: var(--gray-100);
}

.network_select {
  display: none;
}

.networks > span {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: calc(24 * 100vw / var(--screen-width-desc));
  overflow-y: scroll;
}

.networks > span::-webkit-scrollbar {
  width: calc(4 * 100vw / var(--screen-width-desc));
}

.networks > span::-webkit-scrollbar-thumb {
  background-color: var(--white-100);
  border-radius: calc(100 * 100vw / var(--screen-width-desc));
}

.networks > span::-webkit-scrollbar-track {
  background-color: var(--white-5);
}

.networks > span > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(336 * 100vw / var(--screen-width-desc));
  padding: calc(12 * 100vw / var(--screen-width-desc)) calc(16 * 100vw / var(--screen-width-desc));
  margin-top: calc(8 * 100vw / var(--screen-width-desc));
  border: calc(1 * 100vw / var(--screen-width-desc)) solid var(--gray-15);
  border-radius: calc(100 * 100vw / var(--screen-width-desc));
}

.networks img {
  width: calc(20 * 100vw / var(--screen-width-desc));
  height: calc(20 * 100vw / var(--screen-width-desc));
}

.selected_network {
  background-color: var(--white-100);
}

.selected_network > div > p {
  color: var(--black-100);
}

.networks > span > div > div {
  display: flex;
  align-items: center;
}

.networks > span > div > div > p:nth-of-type(2) {
  font-weight: 500;
  font-size: calc(12 * 100vw / var(--screen-width-desc));
  color: var(--gray-100);
}

.networks > span > div > div > p {
  margin-left: calc(8 * 100vw / var(--screen-width-desc));
}

@media screen and (max-width: 700px) {
  .networks {
    width: 100%;
    padding: 0 calc(20 * 100vw / var(--screen-width-desc));
    margin-right: 0;
  }

  .networks > a {
    font-size: 0;
    margin-left: calc(16 * 100vw / var(--screen-width-desc));
  }

  .networks > a::after {
    content: 'Network';
    font-size: calc(13 * 100vw / var(--screen-width-desc));
    font-weight: 500;
    color: var(--white-100);
  }

  .network_select {
    width: max-content;
    height: min-content;
    padding: calc(8 * 100vw / var(--screen-width-desc)) calc(12 * 100vw / var(--screen-width-desc));
    border: calc(1 * 100vw / var(--screen-width-desc)) solid var(--gray-15);
    border-radius: calc(100 * 100vw / var(--screen-width-desc));
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: calc(8 * 100vw / var(--screen-width-desc));
  }

  .network_select > div {
    display: flex;
  }

  .network_select > div > a {
    display: none;
  }

  .network_select > img,
  .network_select > div > p {
    margin-left: calc(8 * 100vw / var(--screen-width-desc));
  }

  .network_select_active {
    background-color: var(--white-100);
  }

  .networks img {
    width: calc(16 * 100vw / var(--screen-width-desc));
    height: calc(16 * 100vw / var(--screen-width-desc));
  }

  .network_select_active > div > p {
    color: var(--black-100);
  }

  .network_select_active > img {
    transform: rotate(-90deg);
  }

  .networks > span {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(303 * 100vw / var(--screen-width-desc));
    margin-top: 0;
    overflow-y: hidden;
  }

  .networks > span > div {
    width: max-content;
    height: min-content;
    padding: calc(8 * 100vw / var(--screen-width-desc)) calc(12 * 100vw / var(--screen-width-desc));
    margin-top: calc(8 * 100vw / var(--screen-width-desc));
    margin-right: calc(8 * 100vw / var(--screen-width-desc));
    border: calc(1 * 100vw / var(--screen-width-desc)) solid var(--gray-15);
    border-radius: calc(100 * 100vw / var(--screen-width-desc));
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
  }

  .networks > span > div > img {
    display: none;
  }

  .selected_network {
    background-color: inherit;
  }

  .selected_network > div > p {
    color: var(--white-100);
  }

  .networks > span > div > div > a {
    display: none;
  }
}
