.access_form {
  position: relative;
  width: 100%; /* Изменили ширину на 100% */
  max-width: calc(640*100vw/var( --screen-width-desc)); /* Добавили максимальную ширину */
  margin-top: calc(215*100vw/var( --screen-width-desc));
  margin-bottom: calc(258*100vw/var( --screen-width-desc));
  border-radius: calc(32 * 100vw/var( --screen-width-desc));
  border: 1px solid var(--white-5);
  background-color: var(--white-5);
  padding: calc(32*100vw/var( --screen-width-desc));
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.access_form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%; /* Добавили смещение влево на 50% */
  transform: translateX(-50%); /* Добавили смещение назад на 50% ширины */
  height: 1px;
  width: calc(100% - 60px); /* Изменили ширину на 100% минус 60px (32px паддинг слева и справа) */
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgba(255, 215, 74, 1),
    rgba(240, 123, 168, 1),
    rgba(137, 20, 229, 1),
    rgba(137, 20, 229, 0)
  );
}

.access_form > h2 {
  margin-bottom: calc(32*100vw/var( --screen-width-desc));
  font-size: calc(24*100vw/var( --screen-width-desc));
}


@media screen and (max-width: 700px) {
  .access_form {
    width: calc(343*100vw/var(--screen-width-desc));
    min-height: calc(318*100vw/var(--screen-width-desc));
    margin-top: calc(77*100vw/var(--screen-width-desc));
    padding: calc(20*100vw/var(--screen-width-desc));
    margin-bottom: calc(46*100vw/var(--screen-width-desc));
  }

  .access_form::before {
    width: calc(311*100vw/var(--screen-width-desc));
  }
  .access_form > h2 {
    margin-bottom: calc(20*100vw/var(--screen-width-desc));
    font-size: calc(24*100vw/var(--screen-width-desc));
  }
}
