.ref {
  width: 100%;
  height: calc(78 * 100vw/var(--screen-width-desc));
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: calc(1 * 100vw/var(--screen-width-desc)) solid var(--gray-15);
}

.ref > span {
  width: calc(412 * 100vw/var(--screen-width-desc));
  height: calc(46 * 100vw/var(--screen-width-desc));
  display: flex;
  justify-content: space-between;
}

.ref > span > a {
  width: calc(317 * 100vw/var(--screen-width-desc));
  border-radius: calc(24 * 100vw/var(--screen-width-desc));
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-10);
  font-weight: 500;
  color: var(--gray-100);
}

.ref > span > p {
  width: calc(87 * 100vw/var(--screen-width-desc));
  border-radius: calc(100 * 100vw/var(--screen-width-desc));
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-100);
  font-weight: 500;
  color: var(--black-100);
}

@media screen and (max-width: 700px) {
  .ref * {
    font-size: calc(16 * 100vw / 1000);
  }

  .ref {
    width: 100%;
    height: calc(78 * 100vw / 1000);
  }

  .ref > span {
    width: calc(412 * 100vw / 1000);
    height: calc(46 * 100vw / 1000);
  }

  .ref > span > a {
    width: calc(317 * 100vw / 1000);
    border-radius: calc(24 * 100vw / 1000);
  }

  .ref > span > p {
    width: calc(87 * 100vw / 1000);
    border-radius: calc(100 * 100vw / 1000);
  }
}

@media screen and (max-width: calc(555 * 100vw/var(--screen-width-desc))) {
  .ref * {
    font-size: calc(13 * 100vw / 375);
  }

  .ref {
    width: 100%;
    height: calc(116 * 100vw / 375);
  }

  .ref > span {
    width: calc(343 * 100vw / 375);
    height: calc(34 * 100vw / 375);
  }

  .ref > span > a {
    width: calc(253 * 100vw / 375);
    border-radius: calc(20 * 100vw / 375);
  }

  .ref > span > p {
    width: calc(82 * 100vw / 375);
    border-radius: calc(100 * 100vw / 375);
  }
}

@media screen and (max-width: calc(375 * 100vw/var(--screen-width-desc))) {
  .ref * {
    font-size: calc(13 * 100vw/var(--screen-width-desc));
  }

  .ref {
    width: 100%;
    height: calc(116 * 100vw/var(--screen-width-desc));
  }

  .ref > span {
    width: calc(343 * 100vw/var(--screen-width-desc));
    height: calc(34 * 100vw/var(--screen-width-desc));
  }

  .ref > span > a {
    width: calc(253 * 100vw/var(--screen-width-desc));
    height: calc(34 * 100vw/var(--screen-width-desc));
    border-radius: calc(20 * 100vw/var(--screen-width-desc));
  }

  .ref > span > p {
    width: calc(82 * 100vw/var(--screen-width-desc));
    height: calc(34 * 100vw/var(--screen-width-desc));
    border-radius: calc(100 * 100vw/var(--screen-width-desc));
  }
}
