.milestones {
  margin-top: calc(80 * 100vw / var(--screen-width-desc));
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.milestones > span {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.milestones > span > div {
  height: calc(75 * 100vw / var(--screen-width-desc));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.milestones > span > div > p {
  font-size: calc(32 * 100vw / var(--screen-width-desc));
}

.milestones > span > div > a {
  font-weight: 500;
  color: var(--gray-100);
}

.milestones > div {
  position: absolute;
  margin-top: calc(123 * 100vw / var(--screen-width-desc));
  width: calc(988 * 100vw / var(--screen-width-desc));
  display: flex;
  justify-content: space-between;
}

.milestones > div > p {
  height: calc(117 * 100vw / var(--screen-width-desc));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.milestones > div > p > p {
  font-weight: 500;
  padding: calc(6 * 100vw / var(--screen-width-desc)) calc(12 * 100vw / var(--screen-width-desc))
    calc(6 * 100vw / var(--screen-width-desc)) calc(12 * 100vw / var(--screen-width-desc));
  border-radius: calc(99 * 100vw / var(--screen-width-desc));
  border: calc(1 * 100vw / var(--screen-width-desc)) solid var(--gray-100);
}

.milestones > div > p:nth-of-type(2) > p {
  background-color: var(--white-100);
  color: var(--black-100);
}

.milestones > div > p > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.milestones > div > p > span > img {
  width: calc(18 * 100vw / var(--screen-width-desc));
  height: calc(18 * 100vw / var(--screen-width-desc));
}

.milestones > div > p > span > a {
  margin-left: calc(8 * 100vw / var(--screen-width-desc));

  font-weight: 500;
  color: var(--gray-100);
}

.milestones > div > p > div {
  width: calc(32 * 100vw / var(--screen-width-desc));
  height: calc(32 * 100vw / var(--screen-width-desc));
  display: flex;
  justify-content: center;
  align-items: center;
  border: calc(1 * 100vw / var(--screen-width-desc)) solid var(--gray-100);
  border-radius: calc(99 * 100vw / var(--screen-width-desc));
  background-color: var(--black-100);

  font-weight: 500;
}

.milestones > div > p:nth-of-type(2) > div {
  background-color: var(--white-100);
  color: var(--black-100);
}

.milestones > div > div {
  position: absolute;
  z-index: -1;
  top: 44%;
  left: calc(15 * 100vw / var(--screen-width-desc));
  transform: translateY(-50%);
  border-radius: calc(100 * 100vw / var(--screen-width-desc));
  height: calc(3 * 100vw / var(--screen-width-desc));
  width: calc(945 * 100vw / var(--screen-width-desc));
  background-color: var(--gray-100);
}

.milestones > div > div > div {
  width: calc(167 * 100vw / var(--screen-width-desc));
  height: calc(3 * 100vw / var(--screen-width-desc));
  border-radius: calc(100 * 100vw / var(--screen-width-desc));
  background-color: var(--white-100);
}

.milestones > p {
  width: max-content;
  margin-top: calc(213 * 100vw / var(--screen-width-desc));
  padding: calc(17 * 100vw / var(--screen-width-desc)) calc(32 * 100vw / var(--screen-width-desc))
    calc(17 * 100vw / var(--screen-width-desc)) calc(32 * 100vw / var(--screen-width-desc));
  border-radius: calc(100 * 100vw / var(--screen-width-desc));
  background-color: var(--white-100);

  font-weight: 500;
  color: var(--black-100);
}

@media screen and (max-width: 700px) {
  .milestones {
    margin-top: calc(64 * 100vw / var(--screen-width-desc));
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .milestones > span {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .milestones > span > div {
    height: calc(75 * 100vw / var(--screen-width-desc));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .milestones > span > div > p {
    font-size: calc(34 * 100vw / var(--screen-width-desc));
  }

  .milestones > span > div > a {
    font-weight: 500;
    color: var(--gray-100);
  }

  .milestones > div {
    position: absolute;
    margin-top: calc(108 * 100vw / var(--screen-width-desc));
    width: calc(343 * 100vw / var(--screen-width-desc));
    height: calc(423 * 100vw / var(--screen-width-desc));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .milestones > div > p {
    width: 100%;
    height: calc(29 * 100vw / var(--screen-width-desc));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .milestones > div > p > p {
    left: calc(202 * 100vw / var(--screen-width-desc));
    font-weight: 500;
    position: absolute;
    padding: calc(6 * 100vw / var(--screen-width-desc)) calc(12 * 100vw / var(--screen-width-desc))
      calc(6 * 100vw / var(--screen-width-desc)) calc(12 * 100vw / var(--screen-width-desc));
    border-radius: calc(99 * 100vw / var(--screen-width-desc));
    border: calc(1 * 100vw / var(--screen-width-desc)) solid var(--gray-100);
  }

  .milestones > div > p:nth-of-type(2) > p {
    background-color: var(--white-100);
    color: var(--black-100);
  }

  .milestones > div > p > span {
    position: absolute;
    right: calc(201 * 100vw / var(--screen-width-desc));
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .milestones > div > p > span > img {
    width: calc(18 * 100vw / var(--screen-width-desc));
    height: calc(18 * 100vw / var(--screen-width-desc));
  }

  .milestones > div > p > span > a {
    margin-left: calc(8 * 100vw / var(--screen-width-desc));
    font-size: calc(16 * 100vw / var(--screen-width-desc));
    font-weight: 500;
    color: var(--gray-100);
  }

  .milestones > div > p > div {
    width: calc(20 * 100vw / var(--screen-width-desc));
    height: calc(20 * 100vw / var(--screen-width-desc));
    display: flex;
    justify-content: center;
    align-items: center;
    border: calc(1 * 100vw / var(--screen-width-desc)) solid var(--gray-100);
    border-radius: calc(99 * 100vw / var(--screen-width-desc));
    background-color: var(--black-100);

    font-weight: 500;
  }

  .milestones > div > p:nth-of-type(2) > div {
    background-color: var(--white-100);
    color: var(--black-100);
  }

  .milestones > div > div {
    position: absolute;
    z-index: -1;
    top: calc(230 * 100vw / var(--screen-width-desc));
    left: calc(171 * 100vw / var(--screen-width-desc));
    border-radius: calc(100 * 100vw / var(--screen-width-desc));
    width: calc(3 * 100vw / var(--screen-width-desc));
    height: calc(370 * 100vw / var(--screen-width-desc));
    background-color: var(--gray-100);
  }

  .milestones > div > div > div {
    width: calc(2 * 100vw / var(--screen-width-desc));
    height: calc(50 * 100vw / var(--screen-width-desc));
    border-radius: calc(100 * 100vw / var(--screen-width-desc));
    background-color: var(--white-100);
  }

  .milestones > p {
    width: max-content;
    margin-top: calc(519 * 100vw / var(--screen-width-desc));
    padding: calc(8 * 100vw / var(--screen-width-desc)) calc(16 * 100vw / var(--screen-width-desc))
      calc(8 * 100vw / var(--screen-width-desc)) calc(16 * 100vw / var(--screen-width-desc));
    border-radius: calc(100 * 100vw / var(--screen-width-desc));
    background-color: var(--white-100);
    font-weight: 500;
    color: var(--black-100);
  }
}
